POSTGRES_USER=content
POSTGRES_PASSWORD=content123
POSTGRES_DB=content_platform
POSTGRES_PORT=5432

REDIS_PASSWORD=redis123
REDIS_PORT=6379

NATS_AUTH=nats123
NATS_PORT=4222

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
